Blocked method response test only looks for 405 response

As per RFC 9110, section 9.3.6:

> An origin server MAY accept a CONNECT request, but most origin servers do not implement CONNECT.

If a server doesn't implement a method then a 501 response may be seen. The test should also look for, and accept, this.

Agree, https://www.rfc-editor.org/rfc/rfc9110#section-9.1-10 makes it even more clear
>  All general-purpose servers MUST support the methods GET and HEAD. All other methods are OPTIONAL.
...
An origin server that receives a request method that is unrecognized or not implemented SHOULD respond with the [501 (Not Implemented)](https://www.rfc-editor.org/rfc/rfc9110#status.501) status code. An origin server that receives a request method that is recognized and implemented, but not allowed for the target resource, SHOULD respond with the [405 (Method Not Allowed)](https://www.rfc-editor.org/rfc/rfc9110#status.405) status code.

We cannot know whether a method other than GET and HEAD is unrecognized, not implemented or not allowed for an arbitrary server. Both 405 and 501 should be accepted by this test. Happy to accept a pull request.

---
This also touches a more general issue that the relation of many rules scattered across the specifications are often unclear and it is often unclear which takes priority. 