Test reject_fields_contaning_cr_lf_nul doesn't follow RFC 9112

RFC 9112 section 2.2:

> Although the line terminator for the start-line and fields is the sequence CRLF, a recipient MAY recognize a single LF as a line terminator and ignore any preceding CR.

This is a grey area but my reading of RFC 9110 and RFC 9112 is that while a bare LF isn't allowed in a field value, it may - in HTTP/1.1 - be interpreted as end of line (or converted to a single space).

Yes, one could read it as "interpreted as end of line (or converted to a single space)" is allowed. One could also think of marking some tests as "strict" interpretation and "lose" interpretation. From a black-box point of view, it is also difficult to judge whether the server treat the invalid character as end of line or converted it to a space.

I think such edge-cases should be discussed and decided by several experts (and potentially also the specification should be updated to make them less ambiguous). 

Currently, this project is not active anymore and I do not know of an active fork.
A similar active project is https://github.com/mnot/redbot / https://github.com/mnot/httplint maybe we could add tests that are missing there and then start a discussion there.